

<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                2019-2020 &copy; Made by  <a href="#">Dots Media</a>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->


