<div id="edit-modal" class="modal-demo modal-lg">
    <button type="button" class="close" onclick="Custombox.modal.close();">
        <span>&times;</span><span class="sr-only">أغلق</span>
    </button>
    <h4 class="custom-modal-title edit-modal-title">تغير Category</h4>
    <div class="custom-modal-text text-muted">
        <div class="row">
            <div class="col-12">

                <form class="form">
                    <input type="hidden" name="_id">
                    <div class="form-group">
                        <label for="name">اسم التصنيف</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>

                    <button type="button" class="btn btn-primary btn-save">حفظ</button>
                </form>
            </div>
        </div>
    </div>
</div>