<% layout('../../layout/app') -%>
<% include ../../components/table-style -%>
<% include ../../components/table-script -%>
<% script(baseURL + "assets/libs/select2/select2.min.js") %>
<% script(baseURL + "pages/js/socket.io.js") %>
<% script(baseURL + "pages/js/check.js") %>

<div class="row">
    <div class="col-12">
        <div class="card mt-lg-5">
            <div class="card-body">

                        <div class="table-container">
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


